
// Colors
$grayishblue: hsl(229, 8%, 60%);
$grayishblue-light: hsla(229, 8%, 60%, 0.3);
$secondary: hsl(169, 255%, 26%); 
$primary: hsl(237, 96%, 19%);




// Font Size
$fontsize-xl: 3.25rem; 
$fontsize-lg: 1rem; 
$fontsize-md: 1.125rem; // 18px
$fontsize-sm: 0.875rem; // 14px